html{
  font-family: 'Roboto', sans-serif;
  background-color: rgba(200, 0, 0, .5)
}

body{

}

.header-top{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.logo-wrapper{

}

.logo-img{

}

.mobile-nav-toggle-label{
  display: inline-block;
 }

 .top-drop{

 }

 .middle-drop{

 }

 .bottom-drop{

 }

 .main-nav{

 }

 .menu-item{

 }
