/*--------------------------------------------------
    [1. General]
----------------------------------------------------*/
body {
	font: 14px "Open Sans", Arial, sans-serif;
}
/*p, li, li a {
  color: #ABABAB;
}*/
a {
  color: #AD2624;
}
p {
	line-height: 1.5;
}

/* Default highlight color */
::-moz-selection {

  background: #AD2624;
}
::selection {
  background: #AD2624;
}
.btn-u-lg.btn-u-bg-default {
	background: #AD2624;
}
.btn-u-lg.btn-u-bg-default:hover,
.btn-u-lg.btn-u-bg-default:focus {
	background: #b03c3c;
	color: #fff;
}
.btn-u-lg.btn-u-default {
	border: solid 2px #AD2624;

	color: #AD2624;
}

.g-color-default { color: #AD2624;}
.g-bg-default { background: #AD2624;}

.g-heading-v7 .h2 .block-name {

	color: #AD2624;
	margin-bottom: 25px;
}
.g-heading-v7 .h2:after {

	background: #AD2624;
	
}



.one-page-header .navbar-nav > li > a:hover,
.one-page-header .navbar-nav > li > a:focus,
.one-page-header .navbar-nav > li.active > a:hover,
.one-page-header .navbar-nav > li.active > a:focus,
.one-page-header .navbar-nav > li.active > a {
	color: #AD2624 !important;
}
.one-page-header.architecture-nav.top-nav-collapse .navbar-toggle .icon-bar {
  background: #ABABAB;
}

.one-page-header.architecture-nav .navbar-toggle:hover .icon-bar {
    background: #AD2624 !important;
}

/*--------------------------------------------------
    [4. About Section]
----------------------------------------------------*/
/*Adding background image that would only show on hover*/
.service {
	padding: 0;
	position: relative;
}
.service-1 {
	background: url(/assets/img/RodgersBWfade.jpg) no-repeat 80% 0 / cover;
}
.service-2 {
	background: url(/assets/img/ReaganBacksplash.jpg) no-repeat 30% 0 / cover;
}
.service-3 {
    background: url(/assets/img/DannyThomasBacksplash.jpg) no-repeat 80% 0 / cover;
}
.service-4 {
	background: url(/assets/img/DiggerBWfade.jpg) no-repeat 50% 0 / cover;
}

.service-in {
	padding: 100px 30px;
 /* transition: opacity 0.4s ease-in-out;*/
}

/*Adding colors over the background image*/
.img-hover-1 {
	background: url(/assets/img/RodgersBWfade.jpg) no-repeat 80% 0 / cover;
}

.img-hover-2 {
	background: url(/assets/img/ReaganBacksplash.jpg) no-repeat 30% 0 / cover;
  
}

.img-hover-3 {
    background: url(/assets/img/DannyThomasBacksplash.jpg) no-repeat 80% 0 / cover;
}

.img-hover-4 {
	background: url(/assets/img/DiggerBWfade.jpg) no-repeat 50% 0 / cover;
}

/*Changing opacity on hover so the image shows*/

.service-in p {

	color: rgba(255,255,255,.75);
}

.service-in .service-btn {

	color: #AD2624;
	
}
.modal button.close {
    background: #AD2624;
  
}
.service-section .owl-theme .owl-controls .owl-buttons div:hover,
.service-section .owl-theme .owl-controls .owl-buttons div:focus {
  background: #AD2624;
}
.cbp-item:hover .popup-title h3 em, .cbp-popup-lightbox-title h3 em {
	color: #AD2624;
}
.cbp-popup-lightbox .cbp-popup-prev:hover,
.cbp-popup-lightbox .cbp-popup-next:hover  {
    background: #AD2624;
}

.cbp-popup-lightbox .cbp-popup-close {
    background: #AD2624;

}

.team-section .owl-carousel-v4 .owl-list li > a:hover {
	color: #fff;
	background: #AD2624;
}

/*Owel-carousel controls*/


.team-section .owl-theme .owl-controls .owl-buttons div:hover,
.team-section .owl-theme .owl-controls .owl-buttons div:focus {
  background: #AD2624;
}


/*--------------------------------------------------
    [8. Gallery Section]
----------------------------------------------------*/


.tab-v2 .nav-tabs li.active a {
    background: #AD2624;
   
}

.tab-v2 .nav-tabs li.active a:before  {
    background: #AD2624;
}

.tab-v2 .nav-tabs li.active a:after  {
    border-left: 26px solid #AD2624;
}

/*.tab-v2 .nav-tabs > li.active > a > span {
	color: #f7f7f7;
}*/


.owl-theme .owl-slider-v4-gallery .owl-controls .owl-page:hover span,
.owl-theme .owl-slider-v4-gallery .owl-controls .owl-page.active span {
    background: #AD2624 none repeat scroll 0% 0%;
}

/*Fourth owel carousel*/

.gallery-section .owl-carousel-v4 .owl-slider-v4-gallery-2 h3 a:hover,
.gallery-section .owl-carousel-v4 .owl-slider-v4-gallery-2 h3 a:focus {
	color: #AD2624;
}


.owl-theme .owl-slider-v4-gallery-2 .owl-controls .owl-page:hover span,
.owl-theme .owl-slider-v4-gallery-2 .owl-controls .owl-page.active span,
.owl-theme .owl-slider-v4-testo .owl-controls .owl-page:hover span,
.owl-theme .owl-slider-v4-testo .owl-controls .owl-page.active span {
    background: #AD2624 none repeat scroll 0% 0%;
}

/*--------------------------------------------------
    [9. Awards Section]
----------------------------------------------------*/

.awards-desc a {
	color: #AD2624;
}

/* Clients block */


/*Fifth owl carousel*/


/*--------------------------------------------------
    [10. Contact Section]
----------------------------------------------------*/
/*Contact list design*/

.contact-list ul li .icon {
	color: #AD2624;
}



.form input.form-control {
	height: 45px;
}


	

/*The Google maps div design */
.map-div {
	background: #AD2624;
	
}

/*The copyrights design*/

.copyrights-left {
	text-align: left;
	padding: 70px 0;

}

.footer-list li > a:hover {

	background: #AD2624;
}

/* Owl Carousel */
/*Success message*/
.sky-form .message {
    color: #AD2624;
}

.sky-form .message i {
    border: 1px solid #AD2624;
}

